body{
    background-color: #ebe8e8;
}
.home-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}













@media only screen and (max-width: 1000px) {
    .home-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .home-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
  }